.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  align-items: center;
}

.search {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.team-logo > img {
  height: 100px;
}

.team-name {
  font-size: 60px;
}
