.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
}

.header-logo {
  display: flex;
  align-items: center;
}

.search {
  display: flex;
  align-items: center;
}

.team-logo>img {
  height: 100px;
}

.team-name {
  font-size: 60px;
}

.dark-team-name {
  font-size: 60px;
  color: #fff;
}

.header-links {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  font-size: 20px;
  font-weight: 600;
  text-decoration: underline;
}

.dark-theme-links {
  padding-right: 15px;
  color: #fff;
}

.search {
  padding-right: 15px;
}

.about-us {
  padding-right: 15px;
}

.theme-button {
  border: none;
  margin: 10px;
  background-color: transparent;
}

.theme-image {
  width: 35px;
}
